<div class="individualdr_dashboard dashboard_main_content">
    <div class="top_bar up_bar common_space">
      <div class="content_wrap">
        <div class="policy">
          <form [formGroup]="dateRangeForm">
            <div class="form_field_wrapper d-flex align-items-center gap-3" style="margin: 10px;">
              <div class="main_title">{{ "from" | translate }}:</div>
              <mat-form-field class="example-full-width choosedate" appearance="fill">
                <input matInput [matDatepickerFilter]="myFilter" placeholder="{{ 'select_date' | translate }}"
                  [matDatepicker]="picker1" formControlName="fromDate"
                  (dateChange)="onDateChange('from', $event.value)" (click)="picker1.open()" readonly/>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
  
              <div class="main_title">{{ "to" | translate }}:</div>
              <mat-form-field class="example-full-width choosedate" appearance="fill">
                <input matInput [matDatepickerFilter]="myFilter" placeholder="{{ 'select_date' | translate }}"
                  [matDatepicker]="picker2" formControlName="toDate" (dateChange)="onDateChange('to', $event.value)" (click)="picker2.open()" readonly />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="counter_section common_space">
      <div class="row">
        <ng-container>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
            <div class="cust_col light_orange">
              <div class="cust_col_inner header-card-inner">
                <div class="left">
                  <div class="counter">{{totalAppointments ? totalAppointments : 0}}</div>
                  <div class="counter_title">{{ "total_appointments" | translate }}</div>
                </div>
                <div class="right" (click)="exportTotalAppointmentList('click')" ngbTooltip="Export total appointment list">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard42.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4" >
            <div class="cust_col light_blue">
              <div class="cust_col_inner header-card-inner">
                <div class="left">
                  <div class="counter">{{totalLabOrders ? totalLabOrders : 0}}</div>
                  <div class="counter_title">{{ "total_lab_request" | translate }}</div>
                </div>
                <div class="right" (click)="exportLabOrderList('click')" ngbTooltip="Export total lab order list">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard47.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4" >
            <div class="cust_col light_green">
              <div class="cust_col_inner header-card-inner">
  
                <div class="left">
                  <div class="counter">{{totalRadiologyOrders ? totalRadiologyOrders :0}}</div>
                  <div class="counter_title">
                    {{ "total_radio_request" | translate }}
                  </div>
                </div>
                <div class="right" (click)="exportRadioOrderList('click')" ngbTooltip="Export total radio order list">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard2.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row mt20">
        <ng-container>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4" (click)="onTabClick('total_unbooked_lab_orders')">
            <div class="cust_col light_violet">
              <div class="cust_col_inner header-card-inner">
                <div class="left">
                  <div class="counter">{{totalUnbookedLabOrders ? totalUnbookedLabOrders : 0}}</div>
                  <div class="counter_title">
                    {{ "total_unbooked_lab_test" | translate }}
                  </div>
                </div>
                <div class="right" (click)="exportToExcelUnbookedLab('click')" ngbTooltip="Export unbooked lab test list">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard25.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>        
        <ng-container>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4" (click)="onTabClick('total_unbooked_radiology_orders')" >
            <div class="cust_col light_skyblue">
              <div class="cust_col_inner header-card-inner">
  
                <div class="left">
                  <div class="counter">{{totalUnbookedRadiologyOrders ? totalUnbookedRadiologyOrders : 0}}</div>
                  <div class="counter_title">
                    {{ "total_unbooked_radiology_test" | translate }}
                  </div>
                </div>
                <div class="right" (click)="exportToExcelUnbookedRadio('click')" ngbTooltip="Export unbooked radiology test list">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard43.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4" (click)="onTabClick('total_unbooked_medicine_orders')" >
            <div class="cust_col light_yellow">
              <div class="cust_col_inner header-card-inner">
                <div class="left" >
                  <div class="counter">{{totalUnbookedMedicineOrders ? totalUnbookedMedicineOrders : 0}}</div>
                  <div class="counter_title">{{ "total_unbooked_medicine" | translate }}</div>
                </div>
                <div class="right" (click)="exportToExcelUnbookedMedicine('click')" ngbTooltip="Export unbooked medicine list">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard4.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row mt20">
        <ng-container>
          <div
            class="col-sm-6 col-md-6 col-lg-6 col-xl-4 " >
            <div class="cust_col light_green">
              <div class="cust_col_inner header-card-inner">
                <div class="left">
                  <div class="counter">
                    {{ totalLastLoginByDoctors ? totalLastLoginByDoctors : 0 }}
                  </div>
                  <div class="counter_title">
                    {{ "last_login" | translate }}
                  </div>
                </div>
                <div class="right" (click)="exportLastLoginData()" ngbTooltip="Export Last Login">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard43.svg" />
                  </div>
                </div>
              </div>
              <div *ngIf="loadingExport" class="loading-overlay">
                <span> {{ "exporting" | translate }}</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
            <div class="cust_col light_rose">
              <div class="cust_col_inner header-card-inner">
                <div class="left">
                  <div class="counter">{{patientLeftDoc ? patientLeftDoc : 0}}</div>
                  <div class="counter_title">
                    {{ "patients_who_left_the_doctor" | translate }}
                  </div>
                </div>
                <div class="right" (click)="exportPatientLeftDocData()" ngbTooltip="Export Patients Left Doctor">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard25.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4" >
            <div class="cust_col light_mint">
              <div class="cust_col_inner header-card-inner">
                <div class="left">
                  <div class="counter">{{ patientcurrentAssgin ? patientcurrentAssgin : 0}}</div>
                  <div class="counter_title">{{ "patients_who_current_assigned_doctor" | translate }}</div>
                </div>
                <div class="right" (click)="exportPatientAssignDoctorData()" ngbTooltip="Export Patients having Assign Doctor">
                  <div class="counter_img">
                    <img src="assets/img/dashboard/dashboard47.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>       
      </div>
      
    </div>
    <div class="appointment_section">
      <div class="row">  
        <div class="col-md-12 today_appointment appointment">
          <div class="today_appointment_inner common_space">
            <div class="top_bar d-block">
              <div class="left_part">
                <div class="main_title" *ngIf="tabLabel === 'total_unbooked_medicine_orders'">
                  {{ "total_unbooked_medicine_orders" | translate }}
                </div>
                <div class="main_title" *ngIf="tabLabel === 'total_unbooked_lab_orders'">
                  {{ "total_unbooked_lab_orders" | translate }}
                </div>
                <div class="main_title" *ngIf="tabLabel === 'total_unbooked_radiology_orders'">
                  {{ "total_unbooked_radiology_orders" | translate }}
                </div>
                <div class="main_title" *ngIf="tabLabel === 'total_radio_request'">
                  {{ "total_radio_request" | translate }}
                </div>
                <div class="main_title" *ngIf="tabLabel === 'total_lab_request'">
                  {{ "total_lab_request" | translate }}
                </div>

                <!-- <div class="top_item">
                  <div class="form_field_wrapper">
                    <label>{{ "status" | translate }}</label>
                    <mat-form-field appearance="fill">
                      <mat-select [(ngModel)]="selectedStatus" placeholder="Appointments Status"
                        (selectionChange)="handleSelectFliterList($event)">
                        <mat-option value="ALL">{{ "all" | translate }}</mat-option>
                        <mat-option value="PENDING">{{
                          "new_order" | translate
                          }}</mat-option>
                        <mat-option value="APPROVED">{{
                          "approved" | translate
                          }}</mat-option>
                        <mat-option value="CANCELLED">{{
                          "cancelled" | translate
                          }}</mat-option>
                        <mat-option value="UNDER_PROCESSED">{{
                          "under_process" | translate
                          }}</mat-option>
                        <mat-option value="COMPLETED">{{
                          "completed" | translate
                          }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div> -->
              </div>

              <div class="bottom_bar" *ngIf="tabLabel === 'total_unbooked_medicine_orders'">
                <div class="table-wrap">
                  <div class="table-inner d-flex flex-column mt-2" *ngFor="let item of medicationdataSource">
                    <div  class="main_title_common" style="margin: 10px;">
                      {{ "prescribed_by" | translate }} : {{ item?.doctorName }} 
                      <span class="m-0">({{ item?.appointment_id }})</span>
                    </div>
                    <table mat-table [dataSource]="item?.dosageData" class="mat-elevation-z8 medtableinfo">
                      <ng-container matColumnDef="orderid">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "date" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                            item?.createdAt | date : "dd/MM/yyyy | HH:mm"
                          }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="patientname">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "patient_name" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                            item?.patientName
                          }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="mrn_number">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "mrn_number" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                            item?.patientMRNNumber ? item?.patientMRNNumber : "-"
                          }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="medicinename">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "medicine_name" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.medicineName ? element?.medicineName : "-" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="dose">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "dose" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.dose ? element?.dose : "-" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="doseunit">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "dose_unit" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.doseUnit ? element?.doseUnit : "-" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="routeofadminst">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "route_Of_administration" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                          element?.routeOfAdministration
                          ? element?.routeOfAdministration
                          : "-"
                          }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "quantity" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element; let index = index">
                          {{ element?.quantity ? element?.quantity : "0" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="fequency">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "frequency" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ "morning" | translate }}
                          {{
                          element?.frequency?.morning
                          ? element?.frequency?.morning
                          : "0"
                          }}, {{ "midday" | translate }}
                          {{
                          element?.frequency?.midday
                          ? element?.frequency?.midday
                          : "0"
                          }}, {{ "evening" | translate }}
                          {{
                          element?.frequency?.evening
                          ? element?.frequency?.evening
                          : "0"
                          }}, {{ "night" | translate }}
                          {{
                          element?.frequency?.night
                          ? element?.frequency?.night
                          : "0"
                          }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="takefor">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "take_for" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                          element?.takeFor?.quantity
                          ? element?.takeFor?.quantity
                          : "0"
                          }}
                          -
                          {{
                          element?.takeFor?.type ? element?.takeFor?.type : "-"
                          }}
                        </td>
                      </ng-container>
    
                      <tr mat-header-row *matHeaderRowDef="medicationdisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: medicationdisplayedColumns"></tr>
                    </table>
                  </div>
                  <div *ngIf="medicationdataSource?.length === 0" class="text-center mt-2">
                    <b>{{ "no_record_found" | translate }}</b>
                  </div>
                  <mat-paginator class="pagination" *ngIf="medicationdataSource?.length > 0" [length]="totalMedLength"
                    (page)="handlePageMedEvent($event)" [pageSize]="pageSizeMed" [pageSizeOptions]="[2, 5, 20, 50, 100]"
                    showFirstLastButtons aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </div>
              <div class="bottom_bar" *ngIf="tabLabel === 'total_unbooked_lab_orders'">
                <div class="table-wrap">
                  <div class="table-inner d-flex flex-column mt-2" *ngFor="let item of dataLabSource">
                    <div class="main_title_common d-flex justify-content-between" style="gap:8px; margin: 10px;">
                      <div class="profileinfo_title" style="display: inline; margin-left: 5px;">
                        {{ "prescribed_by" | translate }} : {{ item?.doctorName }} 
                        <span class="m-0">({{ item?.appointment_id }})</span>
                    </div>
                    </div>
    
                    <table mat-table [dataSource]="item?.labTest
                          " class="mat-elevation-z8 medtableinfo">
                        <ng-container matColumnDef="patientname">
                          <th mat-header-cell *matHeaderCellDef>
                            {{ "patient_name" | translate }}
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{
                              item?.patientName
                            }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="mrn_number">
                          <th mat-header-cell *matHeaderCellDef>
                            {{ "mrn_number" | translate }}
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{
                              item?.patientMRNNumber ? item?.patientMRNNumber : "-"
                            }}
                          </td>
                        </ng-container>
                      <ng-container matColumnDef="testname">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "testname" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.labtestName ? element?.labtestName : "-" }}
                        </td>
                      </ng-container>
    
                      <!--Strength Column -->
                      <ng-container matColumnDef="centrename">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "labCenterName" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                          element?.labCenterName ? element?.labCenterName : "-"
                          }}
                        </td>
                      </ng-container>
    
                      <ng-container matColumnDef="orderid">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "date" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                            item?.createdAt |
                            date : "dd/MM/yyyy | HH:mm" }}
                        </td>
                      </ng-container>
    
                      <tr mat-header-row *matHeaderRowDef="displayedLabColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedLabColumns"></tr>
                    </table>
                  </div>
                  <div *ngIf="dataLabSource?.length === 0" class="text-center mt-2">
                    <b>{{ "no_record_found" | translate }}</b>
                  </div>
                  <mat-paginator class="pagination" *ngIf="dataLabSource?.length > 0" [length]="totalLabLength"
                    (page)="handlePageEventLab($event)" [pageSize]="pageSizeLab" [pageSizeOptions]="[2, 5, 20, 50, 100]"
                    showFirstLastButtons aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </div>
              <div class="bottom_bar" *ngIf="tabLabel === 'total_unbooked_radiology_orders'">
                <div class="table-wrap">
                  <div class="table-inner d-flex flex-column mt-2" *ngFor="let item of dataRadioSource">
                    <div class="main_title_common d-flex justify-content-between" style="gap:8px; margin:10px;">
                      <div class="profileinfo_title" style="display: inline; margin-left: 5px;">
                        {{ "prescribed_by" | translate }} : {{ item?.doctorName }} 
                        <span class="m-0">({{ item?.appointment_id }})</span>
                      </div>
                    </div>
                    <table mat-table [dataSource]="item?.radiologyTest
                      " class="mat-elevation-z8 medtableinfo">
                      <ng-container matColumnDef="patientname">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "patient_name" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                            item?.patientName
                          }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="mrn_number">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "mrn_number" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                            item?.patientMRNNumber ? item?.patientMRNNumber : "-"
                          }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="testname">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "testname" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                          element?.radiologyTestName
                          ? element?.radiologyTestName
                          : "-"
                          }}
                        </td>
                      </ng-container>
    
                      <ng-container matColumnDef="centrename">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "radioCenterName" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                          element?.radiologyCenterName
                          ? element?.radiologyCenterName
                          : "-"
                          }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="orderid">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "date" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{
                            item?.createdAt |
                            date : "dd/MM/yyyy | HH:mm" }}
                        </td>
                      </ng-container>    
                      <tr mat-header-row *matHeaderRowDef="displayedRadioColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedRadioColumns"></tr>
                    </table>
                  </div>
                  <div *ngIf="dataRadioSource?.length === 0" class="text-center mt-2">
                    <b>{{ "no_record_found" | translate }}</b>
                  </div>
                  <mat-paginator class="pagination" *ngIf="dataRadioSource?.length > 0" [length]="totalRadioLength"
                    (page)="handlePageEventRadio($event)" [pageSize]="pageSizeRadio" [pageSizeOptions]="[2, 5, 20, 50, 100]"
                    showFirstLastButtons aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </div>
              <div class="bottom_bar"  *ngIf="tabLabel === 'total_radio_request' || tabLabel === 'total_lab_request'">
                <div class="appointment_tab">
                  <div class="tab_content">
                    <div class="table-wrap">
                      <div class="table-inner">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
                          <ng-container matColumnDef="patientname">
                            <th mat-header-cell *matHeaderCellDef>
                              {{ "patient_name" | translate }}
            
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <span class="user_image_wrapper">
                                <img class="user_image" [src]="
                                    element?.patientProfile
                                      ? element?.patientProfile
                                      : '../../../../../assets/img/default_user.png'
                                  " />
                              </span>
                              <span class="name_user">{{ element?.patientName }} </span>
                            </td>
                          </ng-container>
                          <!--Assign Doctor name Column -->
            
                          <ng-container matColumnDef="prescribeBy">
                            <th mat-header-cell *matHeaderCellDef>
                              {{ "prescribed_by" | translate }}
            
            
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <span class="name_user">{{
                                element?.doctorName
                                }}</span>
                            </td>
                          </ng-container>
            
                          <ng-container matColumnDef="tests">
                            <th mat-header-cell *matHeaderCellDef>
                              {{ "tests" | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <span class="name_user">
                                {{
                                  serviceType === 'lab' 
                                    ? element?.labTestName 
                                    : serviceType === 'radiology' 
                                      ? element?.radiologyTestName 
                                      : ''
                                }}
                              </span>
                            </td>
                          </ng-container>
            
                          <ng-container matColumnDef="appointmenId">
                            <th mat-header-cell *matHeaderCellDef>
                              {{ "order_id" | translate }}
            
                            </th>
                            <td mat-cell *matCellDef="let element">
                              {{ element?.appointmentId }}
                            </td>
                          </ng-container>
            
            
                          <!--Date & Time Column -->
                          <ng-container matColumnDef="dateandtime">
                            <th mat-header-cell *matHeaderCellDef>
                              {{ "order_date_time" | translate }}
            
                            </th>
                            <td mat-cell *matCellDef="let element">
                              {{ element?.consultationDate  }} |
                              {{ element?.consultationTime }}
                            </td>
                          </ng-container>
            
                          <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>
                              {{ "status" | translate }}
            
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <div class="status {{
                                  element.status === 'Pending'
                                    ? 'new'
                                    : element.status === 'Approved'
                                    ? 'upcoming'
                                    : element.status === 'Cancelled'
                                    ? 'rejected'
                                    : element.status === 'Completed'
                                    ? 'past'
                                    : element.status === 'Missed'
                                    ? 'rejected'
                                    : ''
                                }}">
                                {{
                                element.status === 'Pending'
                                ? 'New Order': element.status
                                }}
                              </div>
                            </td>
                          </ng-container>
            
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                      </div>
                      <div *ngIf="dataSource?.length === 0" class="text-center">
                        <b>{{ "no_record_found" | translate }}</b>
                      </div>
                      <mat-paginator class="pagination" [length]="totalLength" (page)="handlePageEvent($event)"
                        [pageSize]="pageSize" [pageSizeOptions]="[5, 20, 50, 100]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>