<div class="appointment_detail dashboard_main_content">
  <div class="top_bar profile_top_bar" style="margin: 5px">
    <div class="profileinfo_title">{{ "patient_details" | translate }}</div>
    <div class="primary_btn">
      <!-- <i
        class="fa fa-info-circle"
        style="color: #e72539"
        *ngIf="
          isButtonDisabled(
            appointmentDetails?.consultationDate,
            appointmentDetails?.consultationTime
          ) && appointmentStatus === 'APPROVED'
            ? true
            : false
        "
        ngbTooltip="Button will enable 30 min before appointment time."
      >
      </i>
      <button
        class="btn btn-primary"
        (click)="callUser('video')"
        *ngIf="appointmentStatus === 'APPROVED'"
        [disabled]="
          isButtonDisabled(
            appointmentDetails?.consultationDate,
            appointmentDetails?.consultationTime
          )
        "
      >
        {{ "start_consultation" | translate }}
      </button> -->
      <div
        class="back_button"
       (click)="gotTOBack()"
      >
        <button class="btn btn-primary">{{ "back" | translate }}</button>
      </div>
    </div>
  </div>

  <div class="profile_data">
    <div class="profile_info">
      <div class="profile_info_inner profile_info_with_img">
        <div class="patient-details-block d-flex align-items-center">
          <div class="profile_image">
            <img
             src="{{
                patient_profile
                  ? patient_profile
                  : '../../../../../assets/img/default_user.png'}}
              "
            />
          </div>
          <div class="profile__img-contents">
            <div class="profile_title" (click)="gotTOBack('emr')" style="cursor: pointer;">
              <a href="javascript:void(0)"  (click)="gotTOBack('emr')">{{ profile?.full_name }} </a>
            </div>
            <div class="profile_contact">
              <div class="user_value">
                {{ profile?.email ? profile?.email : "-" }}
              </div>
            </div>
            <div class="mobile-no-block d-flex align-items-center">
              <div class="user_value mob_no">
                {{ profile?.country_code }} {{ profile?.mobile }}
              </div>
              <div class="vertical_line"></div>
              <div class="user_value mob_no">
                {{ profile?.address ? profile?.address : "-" }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="emergency_contact">
        <!-- <h3 class="profileinfo_title">{{ "emergency_contact" | translate }}</h3> -->
        <ul class="profile_info_inner emergency">
          <li class="col_item">
            <div class="profile_contact">
              <div class="lable">{{ "gender" | translate }}</div>
              <div class="user_value">
                {{
                  profile?.gender
                    ? profile?.gender
                    : "-"
                }}
              </div>
            </div>
          </li>
          <li class="col_item">
            <div class="profile_contact">
              <div class="lable">{{ "age" | translate }}</div>
              <div class="user_value">
                {{ profile?.dob ? calculateAge(profile.dob) : "-" }}  {{"years" | translate}}
              </div>
            </div>
          </li>
          <li class="col_item">
            <div class="profile_contact">
              <div class="lable">{{ "mrn_number" | translate }}</div>
              <div class="user_value">
                {{
                  profile?.mrn_number
                    ? profile?.mrn_number
                    : "-"
                }}
              </div>
            </div>
          </li>
          <li class="col_item" *ngIf="profile?.iqama_number">
            <div class="profile_contact">
              <div class="lable">{{ "iqama_number" | translate }}</div>
              <div class="user_value">
                {{ profile?.iqama_number }}
              </div>
            </div>
          </li>
          <li class="col_item" *ngIf="profile?.passport">
            <div class="profile_contact">
              <div class="lable">{{ "passport" | translate }}</div>
              <div class="user_value">
                {{ profile?.passport }}
              </div>
            </div>
          </li>
          <li class="col_item" *ngIf="profile?.saudi_id">
            <div class="profile_contact">
              <div class="lable">{{ "saudi_id" | translate }}</div>
              <div class="user_value">
                {{ profile?.saudi_id }}
              </div>
            </div>
          </li>
          
          <li class="col_item">
            <div class="profile_contact">
              <div class="lable">{{ "emergency_contact" | translate }}</div>
              <div class="user_value">
                ({{ profile?.emergency_contact?.country_code }})  {{
                  profile?.emergency_contact?.phone_number
                    ? profile?.emergency_contact?.phone_number
                    : "-"
                }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="profile_appoint_details">
    <h3 class="profileinfo_title">{{ "appointment_details" | translate }}</h3>
    <div class="profile_data">
      <div class="profile_info">
        <ul class="profile_info_inner">
          <li class="col_item">
            <div class="profile_contact">
              <div class="lable">{{ "appointmentId" | translate }}</div>
              <div class="user_value">
                {{ appointmentDetails?.appointmentId }}
              </div>
            </div>
          </li>
          <li class="col_item">
            <div class="profile_contact">
              <div class="lable">{{ "date" | translate }}</div>
              <div class="user_value">
                {{ appointmentDetails?.consultationDate | date : "dd/MM/yyyy" }}
              </div>
            </div>
          </li>
          <li class="col_item">
            <div class="profile_contact">
              <div class="lable">{{ "time" | translate }}</div>
              <div class="user_value">
                {{ appointmentDetails?.consultationTime }}
              </div>
            </div>
          </li>
          <!-- <li class="col_item emergency-appt">
            <div class="profile_contact">
              <div class="lable">{{ "appointment_reasons" | translate }}</div>
              <div class="user_value">
                {{ appointmentDetails?.reasonForAppointment }}
              </div>
            </div>
          </li>
          <li class="col_item" *ngIf="appointmentStatus === 'CANCELLED'">
            <div class="profile_contact">
              <div class="lable">{{ "cancellation_reason" | translate }}</div>
              <div class="user_value">
                {{ appointmentDetails?.cancelReason ? appointmentDetails?.cancelReason :"-" }}
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <!-- Additional Section for Appointment Reason -->
  <div class="profile_appoint_details" *ngIf="appointmentDetails?.reasonForAppointment !==''">
    <h3 class="profileinfo_title">{{ "appointment_reasons" | translate }}</h3>
    <div class="profile_data"  style="grid-template-columns: none;" >
      <div class="profile_info"  style="grid-template-columns: none;" >
        <ul class="profile_info_inner"  style="grid-template-columns: none;">
          <li class="col_item">
            <div class="profile_contact">
              <div class="user_value">
                {{ appointmentDetails?.reasonForAppointment }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Additional Section for Cancellation Reason -->
  <div class="profile_appoint_details" *ngIf="appointmentStatus === 'CANCELLED'">
    <h3 class="profileinfo_title">{{ "cancellation_reason" | translate }}</h3>
    <div class="profile_data"  style="grid-template-columns: none;" >
      <div class="profile_info"  style="grid-template-columns: none;" >
        <ul class="profile_info_inner"  style="grid-template-columns: none;">
          <li class="col_item">
            <div class="profile_contact">
              <div class="user_value">
                {{ appointmentDetails?.cancelReason ? appointmentDetails?.cancelReason : "-" }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
 
  <div class="profile_appoint_details" *ngIf="appointmentDetails?.declinedReason !== null">
    <h3 class="profileinfo_title">{{ "declined_reason" | translate }}</h3>
    <div class="profile_data"  style="grid-template-columns: none;" >
      <div class="profile_info"  style="grid-template-columns: none;" >
        <ul class="profile_info_inner"  style="grid-template-columns: none;">
          <li class="col_item">
            <div class="profile_contact">
              <div class="user_value">
                {{ appointmentDetails?.declinedReason ? appointmentDetails?.declinedReason : "-" }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-----------------------------Other Details Tab------------------------------->

  <div class="patient_details_tab"  *ngIf="appointmentStatus === 'PENDING' || appointmentStatus === 'COMPLETED' || appointmentStatus === 'APPROVED' ? true : false">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="{{ 'vitals' | translate }}">
        <!-- <app-vital
          [patient_id]="patient_id"
          [appointmentId]="appointmentId"
        ></app-vital> *ngIf="appointmentStatus === 'COMPLETED' ? true : false"-->
        <app-new-vital [patient_id]="patient_id"
        [appointmentId]="appointmentId" [profile]="profile"></app-new-vital>
      </mat-tab>
      <mat-tab label="{{ 'medical_document' | translate }}" *ngIf="appointmentStatus === 'COMPLETED' ? true : false">
        <app-patient-medical-doc
          [fromParent]="medicaldocument"
          (refreshDetails)="refreshDetails($event)"
          [patient_id]="patient_id"         
        ></app-patient-medical-doc>
      </mat-tab>

      <mat-tab label="{{ 'diagnosis' | translate }}">
      <app-diagnosis
        [patient_id]="patient_id"
        [appointmentId]="appointmentId"
        (refreshDetails)="refreshDetails($event)"
      ></app-diagnosis>
    </mat-tab>

      <mat-tab label="{{ 'prescribe_medication' | translate }}">
        <app-medicine
          [fromParent]="medicines"
          (refreshDetails)="refreshDetails($event)"
          [appointmentId]="appointmentId"
        ></app-medicine>
      </mat-tab>


      <mat-tab label="{{ 'prescribe_laboratory' | translate }}">
        <app-lab-test
          [fromParent]="lab_test"
          [patient_id]="patient_id"
          [appointmentId]="appointmentId"
          (refreshDetails)="refreshDetails($event)"
        ></app-lab-test>
      </mat-tab>

      <mat-tab label="{{ 'prescribe_radiology' | translate }}">
        <app-radio-test
          [fromParent]="radio_test"
          [appointmentId]="appointmentId"
          (refreshDetails)="refreshDetails($event)"
        ></app-radio-test>
      </mat-tab>
    </mat-tab-group>
  </div>

  <br />
  <div
    class="primary_btn justify-content-end"
    *ngIf="
      appointmentStatus === 'PENDING' || appointmentStatus === 'APPROVED'
        ? true
        : false
    "
  >
    <!-- <ng-container *ngIf="giveInnerPermission('cancel_appointment')">
      <button
        class="btn btn-secondary"
        (click)="openVerticallyCenteredreject(reject)"
      >
        {{
          appointmentStatus === "PENDING" ? "REJECTED" : "Cancel Appointment"
        }}
      </button>
    </ng-container>
    <ng-container *ngIf="giveInnerPermission('accept_appointment_request')">
      <button
        *ngIf="appointmentStatus === 'PENDING' ? true : false"
        class="btn btn-primary"
        (click)="openVerticallyCenteredreject(approved)"
      >
        {{ "accept" | translate }}
      </button>
    </ng-container> -->
  </div>

  <!-- Approved modal -->
  <ng-template #approved let-modal>
    <div class="custome_modal action_modals">
      <div class="modal-body">
        <div class="delete_screen text-center">
          <div class="image approved">
            <img
              class="img-fluid"
              src="../../../../assets/img/approved.svg"
              alt=""
            />
          </div>
          <p class="heading">{{ "are_you_sure" | translate }}</p>
          <p>{{ "you_want_accept_appointment" | translate }}</p>
          <div class="primary_btn mt-30">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.dismiss('Cross click')"
            >
              {{ "no" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="acceptOrRejectAppointment('APPROVED', '')"
            >
              {{ "yes" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Reject modal -->
  <ng-template #reject let-modal>
    <div class="custome_modal action_modals">
      <div class="modal-body">
        <div class="delete_screen text-center">
          <div class="image delete">
            <img
              class="img-fluid"
              src="../../../../assets/img/reject.svg"
              alt=""
            />
          </div>
          <p class="heading">{{ "are_you_sure" | translate }}</p>
          <p>{{ "you_want_reject_doctor" | translate }}</p>
          <div class="primary_btn mt-30">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.dismiss('Cross click')"
            >
              {{ "no" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="
                openVerticallyCenteredcancelappointment(cancelappintmentcontent)
              "
            >
              {{ "yes" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Reason modal -->

  <div class="cancel_appointment">
    <ng-template #cancelappintmentcontent let-modal>
      <div class="custome_modal">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            {{ "cancel_appointment" | translate }}
          </h4>

          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="row">
              <div class="item col-md-12">
                <div class="form_field_wrapper">
                  <label>{{ "cancellation_reason" | translate }}</label>
                  <mat-form-field appearance="fill">
                    <textarea matInput #reason></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>

          <div class="primary_btn mt-2">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.dismiss('Cross click')"
            >
              {{ "back" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="acceptOrRejectAppointment('CANCELLED', reason.value)"
            >
              {{ "cancel_appointment" | translate }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="edit_staff">
    <ng-template #choosedate let-modal>
      <div class="custome_modal">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            {{ "reschedule_appointment" | translate }}
          </h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="modal-body">
          <div class="resshedule_appointment">
            <div class="image_block">
              <img
                class="img-fluid"
                src="{{
                  doctordetailsData?.profile_picture
                    ? doctordetailsData?.profile_picture
                    : '../../../assets/img/profile_img.png'
                }}"
                alt="doc"
              />
            </div>
            <div class="content_block">
              <h3>
                {{ doctordetailsData?.full_name
                }}<span class="status-icon"
                  ><img
                    class="img-fluid"
                    src="../../../../../assets/img/greenelip.svg"
                /></span>
              </h3>
              <p>{{ doctordetailsData?.speciality }}</p>
              <ul>
                <li>
                  <div class="doctore_detail">
                    <p>{{ "experience" | translate }}</p>
                    <h4>{{ doctordetailsData?.years_of_experience }} Years</h4>
                  </div>
                </li>
                <li>
                  <div class="doctore_detail">
                    <p>{{ "rating_and_review" | translate }}</p>
                    <h4>
                      <i class="fa-solid fa-star"></i>
                      {{ doctorRating?.average_rating }} ({{
                        doctorRating?.total_review
                      }}
                      Reviews)
                    </h4>
                  </div>
                </li>
                <li>
                  <div class="doctore_detail">
                    <p>{{ "next_appointment_available" | translate }}</p>
                    <h4>
                      {{
                        nearestAvailableDate
                          ? (nearestAvailableDate | date : "dd/MM/YYYY")
                          : ""
                      }}
                    </h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="choose_slot">
            <div class="heading">
              <h4>1. {{ "choose_slot" | translate }}</h4>
            </div>
            <div class="choose_detail">
              <div class="nearest_slot">
                <p>{{ "nearest_available_slot" | translate }}:</p>
                <h3>
                  {{
                    nearestAvailableDate
                      ? (nearestAvailableDate | date : "dd/MM/YYYY")
                      : ""
                  }}
                  ({{
                    nearestAvailableSlot
                      ? nearestAvailableSlot
                      : "No Slot Available"
                  }})
                </h3>
              </div>
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="!nearestAvailableSlot"
                (click)="handleRescheduleAppointment('yes')"
              >
                {{ "book_now" | translate }}
              </button>
            </div>
          </div>
          <div class="primary_btn mt-4">
            <button
              type="button"
              class="btn btn-secondary mr-3"
              (click)="modal.dismiss('Cross click')"
            >
              {{ "cancel" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="openVerticallyCenteredChooseDateTime(chooseCalender)"
            >
              {{ "view_other_available_slots" | translate }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="edit_staff">
    <ng-template #chooseCalender let-modal>
      <form (ngSubmit)="handleRescheduleAppointment('no')">
        <div class="custome_modal">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              {{ "reschedule_appointment" | translate }}
            </h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="modal-body">
            <div class="resshedule_appointment">
              <div class="image_block">
                <img
                  class="img-fluid"
                  src="{{ doctordetailsData?.profile_picture }}"
                  alt="doc"
                />
              </div>
              <div class="content_block">
                <h3>
                  {{ doctordetailsData?.full_name
                  }}<span class="status-icon"
                    ><img
                      class="img-fluid"
                      src="../../../../../assets/img/greenelip.svg"
                  /></span>
                </h3>
                <p>{{ doctordetailsData?.speciality }}</p>
                <ul>
                  <li>
                    <div class="doctore_detail">
                      <p>{{ "experience" | translate }}</p>
                      <h4>
                        {{ doctordetailsData?.years_of_experience }} Years
                      </h4>
                    </div>
                  </li>
                  <li>
                    <div class="doctore_detail">
                      <p>{{ "rating_and_review" | translate }}</p>
                      <h4>
                        <i class="fa-solid fa-star"></i>
                        {{ doctorRating?.average_rating }} ({{
                          doctorRating?.total_review
                        }}
                        Reviews)
                      </h4>
                    </div>
                  </li>
                  <li>
                    <div class="doctore_detail">
                      <p>{{ "next_appointment_available" | translate }}</p>
                      <h4>
                        {{
                          nearestAvailableDate
                            ? (nearestAvailableDate | date : "dd/MM/YYYY")
                            : ""
                        }}
                      </h4>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="choose_slot">
              <div class="heading">
                <h4>2. {{ "select_date_time" | translate }}</h4>
              </div>
              <div class="choose_detail">
                <div class="expansion_panel_inner">
                  <div class="main_outer">
                    <div class="row location_appointment mb-4">
                      <div class="expansion_item location col-md-8">
                        <h2>{{ "select_location" | translate }}</h2>
                        <mat-button-toggle-group
                          name="fontStyle"
                          #group="matButtonToggleGroup"
                          aria-label="Font Style"
                          [value]="location_id"
                        >
                          <!-- {{hospital_location|json}} -->
                          <ng-container
                            *ngFor="let location of hospital_location"
                          >
                            <mat-button-toggle
                              [value]="location?.hospital_id"
                              (change)="
                                onSelection({ locationid: $event.value })
                              "
                              [disabled]="true"
                              >{{ location?.hospital_name }}</mat-button-toggle
                            >
                          </ng-container>
                        </mat-button-toggle-group>
                      </div>

                      <div class="expansion_item appointment col-md-4">
                        <h2>{{ "appointment_type" | translate }}</h2>
                        <mat-radio-group aria-label="Appointment Type">
                          <!-- <mat-radio-button [value]="type.appointment_type" *ngFor="let type of doctor_availability"
                            (change)="onSelection({ type: $event.value })">
                            {{ type?.appointment_type }}
                          </mat-radio-button> -->
                          <mat-radio-button
                            value="ONLINE"
                            (change)="onSelection({ type: $event.value })"
                            [checked]="appointment_type === 'ONLINE'"
                            [disabled]="true"
                          >
                            {{ "online_consultation" | translate }}
                          </mat-radio-button>

                          <mat-radio-button
                            value="HOME_VISIT"
                            (change)="onSelection({ type: $event.value })"
                            [checked]="appointment_type === 'HOME_VISIT'"
                            [disabled]="true"
                          >
                            {{ "home_visit" | translate }}
                          </mat-radio-button>

                          <mat-radio-button
                            value="FACE_TO_FACE"
                            (change)="onSelection({ type: $event.value })"
                            [checked]="appointment_type === 'FACE_TO_FACE'"
                            [disabled]="true"
                          >
                            {{ "hospital_visit" | translate }}
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>

                    <div class="consultation_datetime">
                      <h2>{{ "choose_consultation_date_time" | translate }}</h2>
                      <div class="consultation_datetime_inner row">
                        <div class="expansion_item col-md-7">
                          <article class="calendar-wrapper">
                            <igx-calendar
                              #calendar
                              [value]="value"
                              (selected)="onSelection({ date: $event })"
                            ></igx-calendar>
                          </article>
                        </div>
                        <div class="expansion_item col-md-5">
                          <h2>{{ "choose_time" | translate }}</h2>

                          <mat-button-toggle-group
                            name="fontStyle"
                            aria-label="Font Style"
                          >
                            <ng-container
                              *ngFor="let slot of doctorAvailableTimeSlot"
                            >
                              <ng-container *ngIf="slot?.status == 0">
                                <mat-button-toggle
                                  [value]="slot.slot"
                                  [checked]="choose_slot == slot?.slot"
                                  #slott
                                  (mwlClick)="handleSelectSlot(slott.value)"
                                  >{{ slot?.slot }}</mat-button-toggle
                                >
                              </ng-container>
                              <ng-container *ngIf="slot?.status == 1">
                                <mat-button-toggle
                                  [checked]="choose_slot == slot?.slot"
                                  class="disabled"
                                  [disabled]="true"
                                  [value]="slot?.slot"
                                  >{{ slot?.slot }}</mat-button-toggle
                                >
                              </ng-container>
                            </ng-container>
                          </mat-button-toggle-group>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="primary_btn mt-4">
              <button
                type="button"
                class="btn btn-secondary mr-3"
                (click)="modal.dismiss('Cross click')"
              >
                {{ "cancel" | translate }}
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!choose_slot"
              >
                {{ "book" | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </div>
</div>

<ng-template #confirmationMessage let-modal>
  <div class="custome_modal action_modals">
    <div class="modal-body">
      <div class="delete_screen text-center">
        <div class="image delete">
          <img
            class="img-fluid"
            src="../../../../assets/img/reject.svg"
            alt=""
          />
        </div>
        <p class="heading">{{ "are_you_sure" | translate }}</p>
        <p>{{ "you_want_close_appointment" | translate }}</p>
        <div class="primary_btn mt-30">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')"
          >
            {{ "no" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="redirectToPast()"
          >
            {{ "yes" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
