@import '../../../../../assets/css/variable/variable';
// .status {
//     text-align: right;
//     padding-right: 20px;
// }

// @media screen and (max-width:$tablet) {
//     .details_patient .primary_btn{
//         margin-top: 20px;
//     }
// }

// .exluded-medicine{
//     color: #FF7354 !important;
// }

// .profile_appoint_details {
//     .profile_info {
//         .profile_info_inner {
//             grid-template-columns: repeat(5, 1fr);

//             .col_item {
//                 &.consult_type {
//                     .user_value {
//                         display: flex;
//                         align-items: center;

//                         svg {
//                             margin: 0 5px 0 0;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
.profile_image {
    height: 100px;
    width: 100px;
    display: inline-block;

    img {
        // display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #0015ff;
        border-radius: 100%;
    }

}

.profile_data {
    padding: 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f0f4fc;
    max-width: 100%;
}

.profile_info_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile_info_with_img {
    justify-content: space-between;
}

// .col_item {
//     margin-right: 20px;
//     margin-bottom: 10px;
// }

.profile_image_wrapper {
    display: flex;
    align-items: center;
}

.profile_image img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.profile_title {
    font-size: 18px;
    font-weight: bold;
}

.profile_contact {
    display: flex;
    flex-direction: column;
}

.lable {
    font-weight: bold;
    font-size: 14px;
    color: #6c757d;
}

.user_value {
    font-size: 14px;
    color: #333;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    /* Adjust this based on your layout */
}

@media screen and (max-width: 768px) {
    .profile_info_inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .col_item {
        margin-right: 0;
        width: 100%;
    }
}

.docName {
    font-size: 20px;
    font-weight: 500;
}

.upload_input{
    padding: 11px 15px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(228, 228, 228, 0.9);
    font-size: $font_small;
    border-radius: 5px;
    width: 100%;
    position: relative;
    .user_upload_input{
        opacity: 0;
        z-index: 0;
    }
    .upload_input_content{
        display: flex;
        align-items: center;
        // position: absolute;
        // top: 10px;
        // bottom: auto;
        label{
            margin: 0 0 0 10px;
        }
    }
}


.timeline {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    position: relative;
    .p{
        font-weight: 500;
    }
   
  }
  
  .line {
    height: 3px;
    width: 110px;
    background-color: #2839ff;
  }
  
  .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #2839ff;
  }
  
  .ordered {
    background-color: #2839ff;
  }
  
  .shipped {
    background-color: #2839ff;
  }
  
  .out-for-delivery {
    background-color: #2196f3;
  }
  
  .delivered {
    background-color: #e0e0e0;
  }
  
  .timeline-content {
    // margin-left: 1px;
    text-align: center;
    border: 1px solid #B6C8D6;
    border-radius: 9px;
    padding: 5px;
    font-weight: bold;
  }
  
  .details_status {
    font-weight: bold;
    text-transform: capitalize;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    word-break: break-word; 
  }
  
  .time {
    font-size: 0.85em;
    color: gray;
  }

  .details_status.pending {
    color: #ff9800; /* Orange for Pending */
  }
  
  .details_status.approved {
    color: #2196f3; /* Green for Approved */
  }
  
  .details_status.under_processed {
    color: #2196f3; /* Blue for Under Processed */
    
  }
  
  .details_status.completed {
    color: #4caf50; /* Gray for Completed */
  }
  .details_status.inprogress {
    color: #dd5816; /* Gray for Completed */
  }
  
  .time, .center-name {
    font-size: 0.85em;
    color: gray;
  }

  .text-name-f {
    font-size: 18px !important;
    font-weight: 500 !important;
  }

  .show-history-popup{
    padding:0px 50px;
  }

  .test-history-heading{
    // background: #F6F8FC;
    padding: 10px;
    border-radius: 4px;
    font-weight: 700;
    color: #2839ff !important;
  }

  .item {
    display: block;
  }
  
  .user_upload_input {
    display: block;
    margin-top: 10px; /* Adds spacing between the label and the file input */
  }
  
  mat-error {
    margin-top: 5px; /* Adds spacing between the error message and file input */
  }