<div class="login">
  <div class="login_inner">
    <div class="row">
      <div class="left_part part col-md-6">
        <div class="leftpart_inner">
          <div class="logo"  (click)="goToHomePage()" style="cursor: pointer">
            <img [src]="login_logo" alt="logo" style=" height: 100px;"/>
          </div>
        </div>
      </div>
      <div class="right_part part col-md-6">
        <div class="lang d-flex justify-content-end me-3">
          <app-language></app-language>
      </div>
        <div class="rightpart_inner">
          <div class="login_form">
            <div class="login_form_inner">
              <form [formGroup]="resetForm" (ngSubmit)="setNewPassword()">
                <div class="login_img">
                  <img src="../../../../assets/img/key.svg" />
                </div>
                <div class="title_wrapper">
                  <h4 class="form_title"> {{ "set_new_password" | translate }}</h4>

                  <div class="form_desc">
                    {{
                      "your_new_password_must_be_different_to_previously_used_passwords"
                        | translate
                    }}.
                  </div>
                </div>
                <div class="form_field_wrapper">
                  <label>{{ "password" | translate }}</label>
                  <mat-form-field appearance="fill"  class="password-input-block">
                    <input
                      type="password"
                      placeholder="{{ 'enter_password' | translate }}"
                      formControlName="newPassword"
                      matInput
                      [type]="hide1 ? 'password' : 'text'" />
                      <a class="password-view" (click)="hide1 = !hide1">
                        <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
                      </a>
                  </mat-form-field>
                  <mat-error
                    *ngIf="submitted && resetForm.get('newPassword').hasError('required')"
                    > {{ "enter_password" | translate }}</mat-error
                  >
                  <mat-error
                    *ngIf="submitted && resetForm.get('newPassword').hasError('pattern')"
                    >{{"password_need" | translate}}</mat-error
                  >
                </div>
                <div class="form_field_wrapper">
                  <label>{{ "confirm_password" | translate }}</label>
                  <mat-form-field appearance="fill"  class="password-input-block">
                    <input
                      type="password"
                      placeholder="{{ 'enter_confirm_password' | translate }}"

                      formControlName="confirmPassword"
                      matInput
                      [type]="hide2 ? 'password' : 'text'" />
                      <a class="password-view" (click)="hide2 = !hide2">
                        <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
                      </a>
                  </mat-form-field>
                  <mat-error
                    *ngIf="submitted &&
                      resetForm.get('confirmPassword').hasError('required')
                    "
                    >{{ "confirm_password" | translate }}</mat-error
                  >
                  <span
                    class="custom-validation-msg"
                    *ngIf="submitted &&
                      customValidatorError(
                        'confirmPassword',
                        'confirmPassword_not_matched'
                      )
                    "
                    > {{ "confim_password_does_not_match" | translate }}</span

                  >
                </div>
                <div class="form-btn primary_btn mt-2">
                  <button
                    class="login_btn btn btn-primary"
                    [disabled]="!resetForm.valid"
                  >
                  {{ "reset_password" | translate }}
                  </button>
                </div>

                <div class="signup_section">
                  <div
                    class="signup backlogin"
                    [routerLink]="['/super-admin/login']"
                  >
                    <mat-icon>west</mat-icon>{{ "back_to_log_in" | translate }}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
