@import '../../../../../../assets/css/variable/variable';
.text-start{
    display:flex;
    }

    .availability{
        .item{
           
                .btn{
                    &.active{
                        background-color: $bodycolor;
                        color: $white_color;    
                    }
                }
           
        }
    }

    .checkbox-label {
        margin-left: 8px;
      }

      .demo_row{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .plus.addbtn{
        color: #ffffff;
        background: #2839FF;
        border-radius: 7px;
    }

     .btnminus {
        color: #F05A4F;
        background: #FDE6E5;
        border-radius: 7px;
    }    