<div class="step_counter_inner">
  <div class="availability">
    <div class="tab_content">
      <form [formGroup]="availabilityFormOnline">
        <div class="online_consultation">
          <div class="week_days content_item">
            <p style="color: #2839FF; font-size: 18px;font-weight: 600;"
              >{{
                "note" | translate
              }} : {{
                "the_start_time_must_be_greater_than_the_end_time" | translate
              }}</p
            >
            <div class="mat_tab_title mt-3">{{ "week_days" | translate }}</div>
            <form [formGroup]="availabilityFormOnline">
              <div formGroupName="availability_slots">
                <div class="row demo_row">
                  <!-- Start Date Field -->
                  <div class="col-sm-4 col-md-4">
                    <div class="form_field_wrapper">
                      <label>{{ "start_date" | translate }}</label>
                      <mat-form-field class="date-field-small" appearance="fill">
                        <input matInput [matDatepicker]="startPicker" formControlName="start_date" />
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <!-- Validation Error for Start Date -->
                    <span class="text-danger" *ngIf="availabilityFormOnline.get('availability_slots.start_date').invalid && availabilityFormOnline.get('availability_slots.start_date').touched">
                      {{ "select_start_date" | translate }}*
                    </span>
                  </div>
            
                  <!-- End Date Field -->
                  <div class="col-sm-4 col-md-4">
                    <div class="form_field_wrapper">
                      <label>{{ "end_date" | translate }}</label>
                      <mat-form-field class="date-field-small" appearance="fill">
                        <input matInput [matDatepicker]="endPicker" formControlName="end_date" />
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <!-- Validation Error for End Date -->
                    <span class="text-danger" *ngIf="availabilityFormOnline.get('availability_slots.end_date').invalid && availabilityFormOnline.get('availability_slots.end_date').touched">
                      {{ "select_end_date" | translate }}*
                    </span>
                  </div>
                  <div class="col-sm-1 col-md-1 d-flex align-items-end">
                    <a (click)="clearDateRange()" 
                       style="margin-left: 10px; cursor: pointer;"
                       [class.disabled]="!availabilityFormOnline.get('availability_slots.start_date')?.value && !availabilityFormOnline.get('availability_slots.end_date')?.value"
                       >
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16"
                        [style.opacity]="!availabilityFormOnline.get('availability_slots.start_date')?.value && !availabilityFormOnline.get('availability_slots.end_date')?.value ? '0.5' : '1'">
                        <title>{{ "reset_date" | translate }}</title>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                      </svg>
                    </a>
                  </div>
                  
                </div>
              </div>
            </form>
            <ng-container formArrayName="weekDays">
              <ng-container
                *ngFor="let _ of weekDaysOnline.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="row part_wrapper">
                    <div class="left part">
                      <div class="row">
                        <div class="item">
                          <div class="form_field_wrapper">
                            <mat-checkbox 
                            [checked]="!(
                              weekDaysOnline.value[0].sun_start_time === ':' ||
                              weekDaysOnline.value[0].sun_end_time === ':' ||
                              (weekDaysOnline.value[0].sun_start_time === '00:00' && weekDaysOnline.value[0].sun_end_time === '00:00')
                            )"
                            (change)="onClick($event, 'sun', i)"
                            ngbTooltip="{{'off_days' | translate}}"
                            ></mat-checkbox>
                            <label class="checkbox-label">{{ "sun" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'start_time' | translate }}"
                                formControlName="sun_start_time"
                              />
                              <!-- <ngx-material-timepicker #sun_start_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'end_time' | translate }}"
                                formControlName="sun_end_time"
                              />
                              <!-- <ngx-material-timepicker #sun_end_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                            <span
                              class="text-danger"
                              *ngIf="isSubmitted && (weekDaysValidation(i,'OnlineForm').controls['sun_start_time']
                            .errors?.['required'] || weekDaysValidation(i,'OnlineForm').controls['sun_end_time']
                            .errors?.['required'] )"
                              >{{ "select_time" | translate }}*</span
                            >
                          </div>
                        </div>

                        <div class="item">
                          <div class="form_field_wrapper">
                            <mat-checkbox 
                            [checked]="!(
                              weekDaysOnline.value[0].mon_start_time === ':' ||
                              weekDaysOnline.value[0].mon_end_time === ':' ||
                              (weekDaysOnline.value[0].mon_start_time === '00:00' && weekDaysOnline.value[0].mon_end_time === '00:00')
                            )"
                            (change)="onClick($event, 'mon', i)"
                            ngbTooltip="{{'off_days' | translate}}"
                            ></mat-checkbox>
                            <label class="checkbox-label">{{ "mon" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'start_time' | translate }}"
                                formControlName="mon_start_time"
                              />
                              <!-- <ngx-material-timepicker #mon_start_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'end_time' | translate }}"
                                formControlName="mon_end_time"
                              />
                              <!-- <ngx-material-timepicker #mon_end_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                          </div>
                          <span
                            class="text-danger"
                            *ngIf="isSubmitted && (weekDaysValidation(i,'OnlineForm').controls['mon_start_time']
                            .errors?.['required'] || weekDaysValidation(i,'OnlineForm').controls['mon_end_time']
                            .errors?.['required'] )"
                            >{{ "select_time" | translate }}*</span
                          >
                        </div>
                        <div class="item">
                          <div class="form_field_wrapper">
                            <mat-checkbox 
                            [checked]="!(
                              weekDaysOnline.value[0].tue_start_time === ':' ||
                              weekDaysOnline.value[0].tue_end_time === ':' ||
                              (weekDaysOnline.value[0].tue_start_time === '00:00' && weekDaysOnline.value[0].tue_end_time === '00:00')
                            )"
                            (change)="onClick($event, 'tue', i)"
                            ngbTooltip="{{'off_days' | translate}}"
                            ></mat-checkbox>
                            <label class="checkbox-label">{{ "tue" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'start_time' | translate }}"
                                formControlName="tue_start_time"
                              />
                              <!-- <ngx-material-timepicker #tue_start_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'end_time' | translate }}"
                                formControlName="tue_end_time"
                              />
                              <!-- <ngx-material-timepicker #tue_end_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                          </div>
                          <span
                            class="text-danger"
                            *ngIf="isSubmitted && (weekDaysValidation(i,'OnlineForm').controls['tue_start_time']
                            .errors?.['required'] || weekDaysValidation(i,'OnlineForm').controls['tue_end_time']
                            .errors?.['required'] )"
                            >{{ "select_time" | translate }}*</span
                          >
                        </div>
                        <div class="item">
                          <div class="form_field_wrapper">
                            <mat-checkbox 
                            [checked]="!(
                              weekDaysOnline.value[0].wed_start_time === ':' ||
                              weekDaysOnline.value[0].wed_end_time === ':' ||
                              (weekDaysOnline.value[0].wed_start_time === '00:00' && weekDaysOnline.value[0].wed_end_time === '00:00')
                            )"
                            (change)="onClick($event, 'wed', i)"
                            ngbTooltip="{{'off_days' | translate}}"
                            ></mat-checkbox>
                            <label class="checkbox-label">{{ "wed" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'start_time' | translate }}"
                                formControlName="wed_start_time"
                              />
                              <!-- <ngx-material-timepicker #wed_start_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'end_time' | translate }}"
                                formControlName="wed_end_time"
                              />
                              <!-- <ngx-material-timepicker #wed_end_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                          </div>
                          <span
                            class="text-danger"
                            *ngIf="isSubmitted && (weekDaysValidation(i,'OnlineForm').controls['wed_start_time']
                            .errors?.['required'] || weekDaysValidation(i,'OnlineForm').controls['wed_end_time']
                            .errors?.['required'] )"
                            >{{ "select_time" | translate }}*</span
                          >
                        </div>
                        <div class="item">
                          <div class="form_field_wrapper">
                            <mat-checkbox 
                            [checked]="!(
                              weekDaysOnline.value[0].thu_start_time === ':' ||
                              weekDaysOnline.value[0].thu_end_time === ':' ||
                              (weekDaysOnline.value[0].thu_start_time === '00:00' && weekDaysOnline.value[0].thu_end_time === '00:00')
                            )"
                            (change)="onClick($event, 'thu', i)"
                            ngbTooltip="{{'off_days' | translate}}"
                            ></mat-checkbox>
                            <label class="checkbox-label">{{ "thu" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'start_time' | translate }}"
                                formControlName="thu_start_time"
                              />
                              <!-- <ngx-material-timepicker #thu_start_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'end_time' | translate }}"
                                formControlName="thu_end_time"
                              />
                              <!-- <ngx-material-timepicker #thu_end_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                          </div>
                          <span
                            class="text-danger"
                            *ngIf="isSubmitted && (weekDaysValidation(i,'OnlineForm').controls['thu_start_time']
                            .errors?.['required'] || weekDaysValidation(i,'OnlineForm').controls['thu_end_time']
                            .errors?.['required'] )"
                            >{{ "select_time" | translate }}*</span
                          >
                        </div>
                        <div class="item">
                          <div class="form_field_wrapper">
                            <mat-checkbox 
                            [checked]="!(
                              weekDaysOnline.value[0].fri_start_time === ':' ||
                              weekDaysOnline.value[0].fri_end_time === ':' ||
                              (weekDaysOnline.value[0].fri_start_time === '00:00' && weekDaysOnline.value[0].fri_end_time === '00:00')
                            )"
                            (change)="onClick($event, 'fri', i)"
                            ngbTooltip="{{'off_days' | translate}}"
                            ></mat-checkbox>
                            <label class="checkbox-label">{{ "fri" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'start_time' | translate }}"
                                formControlName="fri_start_time"
                              />
                              <!-- <ngx-material-timepicker #fri_start_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'end_time' | translate }}"
                                formControlName="fri_end_time"
                              />
                              <!-- <ngx-material-timepicker #fri_end_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                          </div>
                          <span
                            class="text-danger"
                            *ngIf="isSubmitted && (weekDaysValidation(i,'OnlineForm').controls['fri_start_time']
                            .errors?.['required'] || weekDaysValidation(i,'OnlineForm').controls['fri_end_time']
                            .errors?.['required'] )"
                            >{{ "select_time" | translate }}*</span
                          >
                        </div>
                        <div class="item">
                          <div class="form_field_wrapper">
                            <mat-checkbox 
                            [checked]="!(
                              weekDaysOnline.value[0].sat_start_time === ':' ||
                              weekDaysOnline.value[0].sat_end_time === ':' ||
                              (weekDaysOnline.value[0].sat_start_time === '00:00' && weekDaysOnline.value[0].sat_end_time === '00:00')
                            )"
                            (change)="onClick($event, 'sat', i)"
                            ngbTooltip="{{'off_days' | translate}}"
                            ></mat-checkbox>
                            <label class="checkbox-label">{{ "sat" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'start_time' | translate }}"
                                formControlName="sat_start_time"
                              />
                              <!-- <ngx-material-timepicker #sat_start_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'end_time' | translate }}"
                                formControlName="sat_end_time"
                              />
                              <!-- <ngx-material-timepicker #sat_end_time>
                              </ngx-material-timepicker> -->
                            </mat-form-field>
                          </div>
                          <span
                            class="text-danger"
                            *ngIf="isSubmitted && (weekDaysValidation(i,'OnlineForm').controls['sat_start_time']
                            .errors?.['required'] || weekDaysValidation(i,'OnlineForm').controls['sat_end_time']
                            .errors?.['required'] )"
                            >{{ "select_time" | translate }}*</span
                          >
                        </div>
                      </div>
                    </div>
                    <!-- <div class="right part">
                    <ng-container
                      *ngIf="i === weekDaysOnline.length - 1; else remove"
                    >
                     
                      <div class="row_generate row_add">
                        <mat-icon class="plus" (click)="addNewWeek('online')"
                          >add</mat-icon
                        >
                      </div>
                    </ng-container>
                    <ng-template #remove>
                      <div class="row_generate row_minus">
                        <mat-icon
                          class="minus"
                          (click)="removeWeek(i, 'online')"
                          >remove</mat-icon
                        >
                      </div>
                    </ng-template>

                    </div> -->
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="unavailable_datetime content_item">
            <div class="mat_tab_title">
              {{ "unavailability_date_and_time" | translate }}
            </div>
            <ng-container formArrayName="unAvailability">
              <ng-container
                *ngFor="let _ of unAvailabilityOnline.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="increse_content">
                    <div class="row increse_content_inner">
                      <div class="col-sm-4 col-md-4">
                        <div class="form_field_wrapper">
                          <label>{{ "start_date" | translate }}</label>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <input
                              matInput
                              [matDatepicker]="startPicker"
                              formControlName="start_date"
                            />
                            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                            <mat-datepicker #startPicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <span
                          class="text-danger"
                          *ngIf="isSubmitted && unavailabilityValidation(i,'OnlineForm').controls['start_date']?.errors?.['required']"
                          >{{ "select_start_date" | translate }}*</span>
                      </div>
                      
                      <div class="col-sm-4 col-md-4">
                        <div class="form_field_wrapper">
                          <label>{{ "end_date" | translate }}</label>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <input
                              matInput
                              [matDatepicker]="endPicker"
                              formControlName="end_date"
                            />
                            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                            <mat-datepicker #endPicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <span
                          class="text-danger"
                          *ngIf="isSubmitted && unavailabilityValidation(i,'OnlineForm').controls['end_date']?.errors?.['required']"
                          >{{ "select_end_date" | translate }}*</span>
                      </div>
                      
                      <div class="row mt-3">
                        <div class="col-sm-4 col-md-4">
                          <div class="form_field_wrapper">
                            <label>{{ "start_time" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'start_time' | translate }}"
                                formControlName="start_time"
                              />
                            </mat-form-field>
                          </div>
                          <span
                            class="text-danger"
                            *ngIf="isSubmitted && unavailabilityValidation(i,'OnlineForm').controls['start_time'].errors?.['required']"
                          >
                            {{ "enter_start_time" | translate }}*
                          </span>
                        </div>

                        <div class="col-sm-4 col-md-4">
                          <div class="form_field_wrapper">
                            <label>{{ "end_time" | translate }}</label>
                            <mat-form-field appearance="fill">
                              <input
                                matInput
                                aria-label="default time"
                                type="time"
                                placeholder="{{ 'end_time' | translate }}"
                                formControlName="end_time"
                              />
                            </mat-form-field>
                          </div>
                          <span
                            class="text-danger"
                            *ngIf="isSubmitted && unavailabilityValidation(i,'OnlineForm').controls['end_time'].errors?.['required']"
                          >
                            {{ "enter_end_time" | translate }}*
                          </span>
                        </div>

                        <span
                          class="text-danger"
                          *ngIf="isSubmitted && unavailabilityValidation(i,'OnlineForm').controls['end_time']
                          .errors?.['required']"
                          >{{ "enter_end_time" | translate }}*</span
                        >
                      </div>
                    </div>
                    <div class="row_generate" *ngIf="i === 0">
                      <mat-icon
                        *ngIf="unAvailabilityOnline.length > 1"
                        class="plus btnminus"
                        (click)="removeUnAvailability(i, 'online')"
                        >remove</mat-icon
                      >&nbsp;
                      <mat-icon
                        class="plus addbtn"
                        (click)="addNewUnAvailabilty('online')"
                        >add</mat-icon
                      >
                    </div>
                    <div class="row_generate" *ngIf="i !== 0">
                      <mat-icon
                         class="plus btnminus"
                        (click)="removeUnAvailability(i, 'online')"
                        >remove</mat-icon
                      >
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="unavailable_datetime content_item">
            <div class="mat_tab_title">
              {{ "booking_slot_time_interval" | translate }}
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="form_field_wrapper">
                  <label>{{ "time_interval" | translate }}<span class="danger">*</span></label>
                  <div class="form_field_wrapper">
                    <mat-form-field appearance="fill">
                      <mat-select
                        formControlName="bookingSlot"
                        placeholder="{{ 'select_slot' | translate }}"
                      >
                        <mat-option
                          *ngFor="let time of timeInterval"
                          [value]="time.value"
                          >{{ time.label }}</mat-option
                        >

                        <!-- <mat-option value="30 min">30 min</mat-option>
                            <mat-option value="60 min">60 min</mat-option>
                            <mat-option value="90 min">90 min</mat-option> -->
                      </mat-select>
                    </mat-form-field>
                    <span
                      class="text-danger"
                      *ngIf="isSubmitted && f['bookingSlot'].errors?.['required']"
                    >
                      {{ "select_slot" | translate }}*
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="primary_btn btn_wrap">
    <button type="button" class="btn btn-secondary" (click)="previousPage()">
      {{ "back" | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="saveAvailability()">
      {{ "save_and_next" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-danger"
      style="margin-left: 10px"
      [routerLink]="['/super-admin/doctor']"
    >
      {{ "exit" | translate }}
    </button>
  </div>
</div>
