<div class="individualdr_dashboard dashboard_main_content">
  <div class="top_bar up_bar common_space">
    <div class="content_wrap">
      <div class="policy">
        <form [formGroup]="dateRangeForm">
          <div class="form_field_wrapper d-flex align-items-center gap-3" style="margin: 10px;">
            <div class="main_title">{{ "from" | translate }}:</div>
            <mat-form-field class="example-full-width choosedate" appearance="fill">
              <input matInput [matDatepickerFilter]="myFilter" placeholder="{{ 'select_date' | translate }}"
                [matDatepicker]="picker1" formControlName="fromDate"
                (dateChange)="onDateChange('from', $event.value)" (click)="picker1.open()" readonly />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <div class="main_title">{{ "to" | translate }}:</div>
            <mat-form-field class="example-full-width choosedate" appearance="fill">
              <input matInput [matDatepickerFilter]="myFilter" placeholder="{{ 'select_date' | translate }}"
                [matDatepicker]="picker2" formControlName="toDate" (dateChange)="onDateChange('to', $event.value)"  (click)="picker2.open()" readonly/>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="counter_section common_space">
    <div class="row">
      <ng-container>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
          <div class="cust_col light_skyblue">
            <div class="cust_col_inner header-card-inner">
              <div class="left">
                <div class="counter">{{totalOrder ? totalOrder : 0}}</div>
                <div class="counter_title">{{ "total_order" | translate }}</div>
              </div>
              <div class="right" (click)="radioOrderListForExport('ALL')" ngbTooltip="Export all order list">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard42.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
          <div class="cust_col light_blue">
            <div class="cust_col_inner header-card-inner">
              <div class="left">
                <div class="counter">{{totalApprovedOrder ? totalApprovedOrder : 0}}</div>
                <div class="counter_title">{{ "total_order_approved" | translate }}</div>
              </div>
              <div class="right"  (click)="radioOrderListForExport('APPROVED')" ngbTooltip="Export approved order list">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard47.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
          <div class="cust_col light_green">
            <div class="cust_col_inner header-card-inner">

              <div class="left">
                <div class="counter">{{totalNewOrder ? totalNewOrder :0}}</div>
                <div class="counter_title">
                  {{ "total_order_new" | translate }}
                </div>
              </div>
              <div class="right"  (click)="radioOrderListForExport('PENDING')" ngbTooltip="Export new order list">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard2.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row mt20">
      <ng-container>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
          <div class="cust_col light_violet">
            <div class="cust_col_inner header-card-inner">
              <div class="left">
                <div class="counter">{{totalCompletedOrder ? totalCompletedOrder : 0}}</div>
                <div class="counter_title">
                  {{ "total_order_completed" | translate }}
                </div>
              </div>
              <div class="right" (click)="radioOrderListForExport('COMPLETED')" ngbTooltip="Export completed order list">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard25.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
          <div class="cust_col light_yellow">
            <div class="cust_col_inner header-card-inner">
              <div class="left">
                <div class="counter">{{totalOrderUnderProcess ? totalOrderUnderProcess : 0}}</div>
                <div class="counter_title">{{ "total_order_under_process" | translate }}</div>
              </div>
              <div class="right" (click)="radioOrderListForExport('UNDER_PROCESSED')" ngbTooltip="Export under processed order list">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard4.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
          <div class="cust_col light_orange">
            <div class="cust_col_inner header-card-inner">

              <div class="left">
                <div class="counter">{{totalCancelledOrder ? totalCancelledOrder : 0}}</div>
                <div class="counter_title">
                  {{ "total_order_cancelled" | translate }}
                </div>
              </div>
              <div class="right" (click)="radioOrderListForExport('CANCELLED')" ngbTooltip="Export cancelled order list">
                <div class="counter_img">
                  <img src="assets/img/dashboard/dashboard43.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="graph_section common_space">
    <div class="row">
      <div class="total_claim revenue_claim">
        <div class="total_claim_inner common_space">
          <div class="top_bar">
            <div class="left_part">
              <div class="main_title">{{"total_order" | translate}}</div>
            </div>
            <div class="right_part">
              <div class="policy"style="display: flex; justify-content: right;">
                <div class="form_field_wrapper month-year-wrapper">

                  <mat-form-field appearance="fill" class="month-dropdown">
                    <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onMonthChange($event.value)"
                      placeholder="{{ 'select_month' | translate }}">
                      <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="year-dropdown">
                    <mat-select [(ngModel)]="selectedYear" (selectionChange)="getgraphYear($event.value)"
                      placeholder="{{ 'select_year' | translate }}">
                      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>
            </div>
          </div>
          <div class="bottom_bar mt-4">
            <div class="chart-container">
              <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'" [legend]="true">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>