<!-- apple-pay.component.html -->
<div class="container">
  <div id="paymentDiv">
    <p style="font-size: 14px;">Total amount: {{amount}} SAR</p>
    <div id="apple-pay-button"></div>
    <p id="resultDivFail" style="font-size: 14px; display: none; color:#ed4a4a;">
      Payment failed, kindly try again
    </p>
  </div>
  <div id="resultDiv" style="display: none;">
    <p style="font-size: 14px;">Payment successful</p>
  </div>
  <p id="resultDiv2" style="display: none;"></p>
  <p id="resultDiv3" style="display: none;"></p>
</div>